.home-container {
  text-align: center;
  margin-top: 50px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.rule-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.rule-container select, .rule-container input {
  margin-right: 10px;
  padding: 5px;
}
